:root {
    --main-title-color: #323232;
    --second-title-color: #ffffff;
    --main--text-color: #999999;
    --second-text-color: #ffffff;
    --accent-color: #4985ff;
}
h1,
h2,
h3,
h4,
p {
    margin: 0%;
}

ul {
    margin: 0;
    padding: 0;
}
/* .container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
} */
body {
    font-family: "Montserrat", sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header {
    background-color: gray;
    padding: 40px 0;
}
.header-list {
    display: flex;
    justify-content: flex-end;
}
.header-item + .header-item {
    margin-left: 40px;
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: var(--second-text-color);
}

/*  !------HERO---------- */

.hero {
    padding-top: 220px;
    padding-bottom: 335px;
    background: gray;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../images/bg-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}
.hero-text {
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: var(--second-text-color);
}
.hero-title {
    width: 829px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    font-weight: 800;
    font-size: 48px;
    line-height: 1.33;
    text-align: center;
    color: var(--second-title-color);
}
.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 45px;
    background-color: #4985ff;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #ffffff;
}

/*-----------SERVICE----------*/
.service {
    padding-top: 110px;
    padding-bottom: 105px;
}

.service-title {
    color: var(--main-title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.47;
    text-align: center;
    width: 740px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.service-text {
    color: var(--main--text-color);
    font-size: 16px;
    line-height: 1.56;
    text-align: center;
    margin-bottom: 70px;
    width: 730px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.service-item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #000000;
}
.service-item-text {
    color: var(--main--text-color);
    font-size: 14px;
    line-height: 1.57;
}
.service-list {
    display: flex;
    margin-bottom: 55px;
}
.service-icon {
    width: 40px;
    height: 40px;
    fill: #4985ff;
}
.servis-box-out {
    width: 110px;
    height: 110px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 17px;
}
.servis-box-in {
    width: 90px;
    height: 90px;
    border: 1px solid #4985ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-item {
    display: flex;
    width: 353px;
}
.service-item + .service-item {
    margin-left: 27px;
}
.service-content {
    padding-top: 45px;
}
.service-item-title {
    margin-bottom: 17px;
}
.standart {
    background-color: #f6f6f8;
    padding-top: 100px;
    padding-bottom: 70px;
}
.standart-content {
    width: 489px;
}
.standart-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.48;
    color: var(--main-title-color);
    margin-bottom: 40px;
}
.standart-top {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* border-bottom: 1px solid #e0e0e0; */
    padding-bottom: 90px;
}
.standart-text {
    font-size: 16px;
    line-height: 1.57;
    color: var(--main--text-color);
    margin-bottom: 30px;
}
.standart-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: var(--accent-color);
}
.standart-count {
    font-size: 36px;
    line-height: 1.47;
    color: #000000;
}
.standart-item-text {
    font-size: 16px;
    line-height: 1.56;
    color: var(--main--text-color);
}

.standart-list {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.standart-item + .standart-item {
    margin-left: 100px;
}
.standart-icon {
    height: 30px;
    width: 30px;
    fill: var(--accent-color);
}
.standart-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.works {
    padding-top: 100px;
    padding-bottom: 85px;
    background-color: gray;
}

.works-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.works-title {
    font-size: 36px;
    line-height: calc(53 / 36);
    max-width: 540px;
    color: var(--second-title-color);
}

.works-btn {
    margin: unset;
}

.works-item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #000000;
    margin-bottom: 30px;
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -30px;
}

.works-item-title span {
    color: var(--accent-color);
}

.works-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}

.works-text {
    font-size: 16px;
    line-height: calc(25 / 16);
    color: var(--main--text-color);
    margin-bottom: 30px;
}

.works-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #4985ff;
}

.slick-next,
.slick-prev {
    top: 20%;
}

.slick-next:before {
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    background-image: url(../images/works-img.png);
    background-size: cover;
}

.slick-dots li button:before {
    content: "😜";
    font-size: 20px;
}